@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");

/* General Styling */
body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

/* App Container */
.app-container {
  max-width: 700px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.app-side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  overflow: hidden;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
}

.side-menu-items ul {
  padding: 0;
  margin: 0;
}

.side-menu-items {
  padding: 25px;
}
.side-menu-items .side-menu-item {
  list-style: none;
  margin-bottom: 15px;
}

.side-menu-footer {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  background-color: #f8f9fa;
  text-align: left;
  padding: 10px;
  font-size: 14px;
  color: #777;
  display: block;
  gap: 5px;
  font-weight: 500;
}

.footer-icons {
  margin-top: 20px;
  display: block;
  gap: 5px;
}

.footer-icons > a {
  margin-top: 20px 0;
  text-decoration: none;
}

.favorites-container {
  position: fixed;
  overflow: hidden;
  top: 0px;
  right: 0px;
  height: 100%;
  background: white;
  border: 3px solid #ececec;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.048);
  padding: 10px;
  transition: 0.3s ease-in-out;
}

.favorites-list {
  padding: 0;
}

.fav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.fav-header > div > button {
  background: none;
  padding-top: 5px;
  border: none;
  color: #333;
  font-size: 25px;
  cursor: pointer;
}
.fav-header .fav-heading {
  color: #333;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

/* Navigation Bar */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

h1 {
  color: #333;
  font-size: 15px;
}

.itunes-logo-container {
  display: flex;
  align-items: left !important;
  justify-content: left !important;
  text-align: left !important;
  gap: 10px;
  padding: 8px 10px;
}

.username {
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

/* Logout Button */
.logout-button {
  padding: 10px 15px;
  background: #dc3545;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background: #c82333;
}

/* Search Section */
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  flex-wrap: wrap;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  width: 100%;
  border: 5px solid #f1f1f1;
  box-shadow: -5px 0 10px rgba(190, 190, 190, 0.048);
  border-radius: 10px;
}

.search-left {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  flex: 1;
  padding: 10px;
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.search-input:focus {
  outline: none;
}

.search-select {
  padding: 4px;
  height: 2.5rem;
  border: none;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  font-size: 16px;
}

.search-button {
  padding-top: 4px;
  border: none;
  background: transparent;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  padding: 15px 2px;
}

.navigation-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 0px;
  margin: 0px 0px;
}

.navigation-item {
  list-style: none;
  margin: 0 10px;
  font-size: 14px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

/* Loading and Error Messages */
.loading {
  color: #007bff;
  font-weight: bolder;
}

.error-message {
  color: red;
  font-weight: bold;
}

/* Results List */
.results-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.result-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  background: #fff;
  padding: 15px;
  border-bottom: 1px solid #f1f1f1;
  transition: transform 0.2s ease-in-out;
}

.fav-result-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 15px;
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
  transition: transform 0.2s ease-in-out;
}

.fav-result-image {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.fav-artist-name {
  color: #777;
  font-size: 12px;
  font-weight: normal;
  text-align: left !important;
}
.fav-del-btn {
  position: absolute;
  right: 40px;
  width: 30px;
  background: none;
  cursor: pointer;
  border: none;
  color: red;
}

.fav-del-btn:hover {
  background: none;
}

.fav-track-name {
  font-size: 15px;
}

.results-content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.result-image {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.result-info {
  display: block;
  justify-content: left !important;
  align-items: left !important;
  text-align: left !important;
  line-height: 22px;
}

.artist-name {
  color: #777;
  font-size: 13px;
  font-weight: normal;
  text-align: left !important;
}

.fav-btn {
  background: none;
  border: none !important;
  position: absolute;
  cursor: pointer;
  color: black;
  font-size: 18px;
  right: 10px;
  padding: 5px;
  border-radius: 100%;
  width: 30px;
  transition: transform 0.2s ease-in-out;
}

.fav-btn:hover {
  background: none;
  transform: scale(1.1);
}

/* No Results */
.no-results {
  color: #555;
  font-style: italic;
}

/* custom select */
